/build/
/target/
src/connection.properties
heroku.txt
src/main/java/connection/SingleConnectionBanco.java
src/main/java/connection/SingleConnectionBanco.java.txt
src/main/java/META-INF/persistence.xml
src/main/java/META-INF/persistence.xml.txt
